/** @format */

.introduce-about {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      background-color: white;
      margin-top: 168px;
      .intro-about-us {
            height: 86%;
      }
}
